html, body {
	margin: 0;	
	padding: 0;
}

* {
	box-sizing: border-box;
}

:root {
	--c-orange: #e86252;
	--c-pink-dark: #ee2677;
	--c-pink-light: #e87ea1;
	--c-tan: #ebb3a9;
	--c-tan-light: #eeebd0;
	--c-gray: #685f74;
	--c-blue: #4f7cac;
	--c-red-dark: #3c0919;
	--c-red: #7d1128;
}

body {
	background-color: var(--c-tan);
}