html, body {
	margin: 0;	
	padding: 0;
}

* {
	box-sizing: border-box;
}

:root {
	--c-accent: #e86252;
	--c-accent-light: #e87ea1;
	--c-bg-secondary: #ECE7BC;
	--c-bg-main: #eeebd0;
	--c-neutral: #685f74;
	--c-not-typed: #4f7cac;
	--c-error: #3c0919;
	--c-correct: #ee2677;
}

body {
	background-color: var(--c-bg-main);
	font-size: 130%;
}